@import 'styles/spectate';

// @import 'styles/eye-lead-ellipsis';
// @import 'styles/news-ellipsis';

.graphic-name {
  height: 300px;
  border: 1px solid red;
  color: red;
}

.swp-btn {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1000;
  cursor: pointer;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.swiper-button-prev-block {
  left: 0;
  width: 35%;
}

.swiper-button-next-block {
  right: 0;
  width: 60%;
}



.swiper-pagination-bullet-active {
  background: black;
}

.swiper-pagination-bullet {
  width: 3px;
  height: 3px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1px;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -3px;
  left: 0;
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}